@model IEnumerable<NumberServiceModel>
@using static UserEx.Common.GlobalConstants

<div class="row">
	@foreach (var number in Model)
	{
		<div class="col-md-4">
			<div class="card mb-3">
				@*<img class="card-img-top" src="@number.DidNumber" alt="@number.Provider @number.MonthlyPrice - @number.Description (@number.Provider)">*@
				<div class="card-body text-center">
					<h5 class="card-title text-center">@number.DidNumber -> @number.Description $@number.MonthlyPrice (@number.Provider)</h5>
					<a asp-controller="Numbers" asp-action="" asp-route-id="@number.Id" class="btn btn-primary">View More</a>
					@if (ViewBag.AllowNumberEdit == true || User.IsInRole(AdministratorRoleName))
					{
						<a asp-controller="Numbers" asp-action="Edit" asp-route-id="@number.Id" class="btn btn-warning">Edit</a>
						<a asp-controller="Numbers" asp-action="Delete" asp-route-id="@number.Id" class="btn btn-danger">Delete</a>
					}
				</div>
			</div>
		</div>
	}
</div>