@model IEnumerable<NumberListingViewModel>

@{
	ViewData["Title"] = "All Numbers";
	int i = 1;	
}

<div class="row">
	@foreach (var number in Model)
	{
		<div class="col-md-4">
			<div class="card mb-3">
				@*<img class="card-img-top" src="@number.DidNumber" alt="@number.Provider @number.MonthlyPrice - @number.Description (@number.Provider)">*@
				<div class="card-body text-center">
					<h5 class="card-title text-center">@number.DidNumber -> @number.Description $@number.MonthlyPrice (@number.Provider)</h5>
					<a asp-controller="Numbers" asp-action="" asp-route-id="@number.Id" class="btn btn-primary">View More</a>
				</div>
			</div>
		</div>
	}
</div>

<div class="row">

	<table class="table">
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">DID number</th>
			<th scope="col">Provider</th>
			<th scope="col">Office</th>
		</tr>
		</thead>
	@foreach (var number in Model)
	{
		
		<tbody>
		<tr>
			<th scope="row">@i</th>
			<td>@number.DidNumber</td>
			<td>@number.Provider</td>
			<td>@number.Description</td>
		</tr>
		</tbody>
		i += 1;
	}
	</table>

</div>