@*@model IEnumerable<NumberListingViewModel>*@
@model AllNumbersQueryModel
@using static UserEx.Common.GlobalConstants

@{
	ViewData["Title"] = "All Numbers";
    int i = (@Model.CurrentPage - 1)*20 +1;
}

<form method="get">
	<div class="row mb-5">
		
		<div class="form-group col-md-4">
			<div class="form-group">
				<label asp-for="Provider"></label>
				<select asp-for="Provider" class="form-control">
					<option value="">All</option>
					@foreach (var provider in Model.Providers)
					{
						<option value="@provider">@provider</option>
					}
				</select>
			</div>
		</div>

		<div class="form-group col-md-4">
			<label asp-for="SearchTerm"></label>
			<input asp-for="SearchTerm" class="form-control" placeholder="Office name">
		</div>

		<div class="form-group col-md-4">
			<div class="form-group">
				<label asp-for="Sorting"></label>
				<select asp-for="Sorting" class="form-control">
					<option value="0" selected>Date Created</option>
					<option value="1">Monthly Price</option>
					<option value="2">Description</option>
				</select>
			</div>
		</div>
		
	</div>
</form>

<div class="row">
	@foreach (var number in Model.Numbers)
	{
		<div class="col-md-4">
			<div class="card mb-3">
				@*<img class="card-img-top" src="@number.DidNumber" alt="@number.Provider @number.MonthlyPrice - @number.Description (@number.Provider)">*@
			        <div class="card-body text-center">
					<h5 class="card-title text-center">@number.DidNumber -> @number.Description $@number.MonthlyPrice (@number.Provider)</h5>
				        <a asp-controller="Numbers" asp-action="Details" asp-route-id="@number.Id" asp-route-information="@(number.Provider + "-" + @number.DidNumber)" class="btn btn-primary">View More</a>
						@*<a asp-controller="Numbers" asp-action="" asp-route-id="@number.Id" class="btn btn-primary">View More</a>*@
				</div>
			</div>
		</div>
	}
</div>

@*Admin to edit cars -> from _NumberPartial but needs to be touched*@
<div class="row">
	@foreach (var number in Model.Numbers)
	{
		<div class="col-md-4">
			<div class="card mb-3">
				@*<img class="card-img-top" src="@number.DidNumber" alt="@number.Provider @number.MonthlyPrice - @number.Description (@number.Provider)">*@
				<div class="card-body text-center">
					<h5 class="card-title text-center">@number.DidNumber -> @number.Description $@number.MonthlyPrice (@number.Provider)</h5>
					@*<a asp-controller="Numbers" asp-action="" asp-route-id="@number.Id" class="btn btn-primary">View More</a>*@
					<a asp-controller="Numbers" asp-action="Details" asp-route-id="@number.Id" asp-route-information="@(number.Provider + "-" + @number.DidNumber)" class="btn btn-primary">View More</a>
					@if (ViewBag.AllowNumberEdit == true || User.IsInRole(AdministratorRoleName))
					{
						<a asp-controller="Numbers" asp-action="Edit" asp-route-id="@number.Id" class="btn btn-warning">Edit</a>
						<a asp-controller="Numbers" asp-action="Delete" asp-route-id="@number.Id" class="btn btn-danger">Delete</a>
					}
				</div>
			</div>
		</div>
	}
</div>

@*<partial name="_NumbersPartial" model="@Model.Numbers" />*@

<div class="row">

	<table class="table">
		<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">DID number</th>
			<th scope="col">Provider</th>
			<th scope="col">Office</th>
			<th scope="col">Monthly Cost</th>
		</tr>
		</thead>

		@foreach (var number in Model.Numbers)
		{
		
			<tbody>
			<tr>
				<th scope="row">@i</th>
				<td>@number.DidNumber</td>
				<td>@number.Provider</td>
				<td>@number.Description</td>
				<td>@number.MonthlyPrice</td>
			</tr>
			</tbody>
			i += 1;
		}
	</table>

</div>

@if (!Model.Numbers.Any())
{
	<h2 class="text-center">No numbers added!</h2>
}

@{
	var previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	var maxPage = Math.Ceiling((double)Model.TotalNumbers / AllNumbersQueryModel.NumbersPerPage);
}

<div class="row mb-5">
	<div class="col-md-6">
		<a 
			class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" 
			asp-controller="Numbers" 
			asp-action="All" 
			asp-route-currentPage="@previousPage" 
			asp-route-provider="@Model.Provider"
			asp-route-searchTerm="@Model.SearchTerm"
			asp-route-sorting="@((int)Model.Sorting)"><<</a>
		
	</div>
	<div class="col-md-6">
		<a 
			class="btn btn-primary float-end @(Model.CurrentPage==maxPage ? "disabled" : string.Empty)"
			asp-controller="Numbers" 
			asp-action="All" 
			asp-route-currentPage="@(Model.CurrentPage + 1)"
			asp-route-provider="@Model.Provider"
			asp-route-searchTerm="@Model.SearchTerm"
			asp-route-sorting="@((int)Model.Sorting)">>></a>
	</div>
</div>