@using UserEx.Common
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers

@*@model List<NumberListingViewModel>*@
@model IndexViewModel

@inject UserManager<ApplicationUser> UserManager

@{
    this.ViewData["Title"] = "UserEx Home";
	var userIsAdmin = User.IsAdmin();
}

<div class="text-center">
	<h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
	<p>
		<h2 class="text-danger">Best UX Guaranteed</h2>
	</p>
</div>

<div class="mb-5"></div>

@*
@{
	var numbers = Model.Numbers;
	var firstNumber = numbers.Any() ? numbers[0] : null;
	var secondNumber = numbers.Any() ? numbers[1] : null;
	var thirdNumber = numbers.Any() ? numbers[2] : null;
}
*@

@if (!Model.Numbers.Any())
{
	<div class="jumbotron">
		<h1 class="display-4">Welcome to the UserEx number manager!</h1>
		<p class="lead">There are no DID numbers in the system currently available so why don't you add one?</p>
		<hr class="my-4">
		<p class="lead">
			<a asp-controller="Numbers" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add DID number</a>
		</p>
	</div>
}

<div class="mb-5"></div>



<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		@for (int  i = 0;  i < Model.Numbers.Count;  i++)
		{
			var number = Model.Numbers[i];
			<div class="carousel-item @(i==0 ? "active" : String.Empty) bg-success text-white text-center border border-danger">
				<img @*src="@number.DidNumber"*@ src="https://t4.ftcdn.net/jpg/04/63/63/59/360_F_463635935_IweuYhCqZRtHp3SLguQL8svOVroVXvvZ.jpg" class="d-block w-25" alt="@number.DidNumber @number.Description $@number.MonthlyPrice (Monthly Price)">
				<div class="carousel-caption d-none d-md-block">
					@*<h5><a class="btn btn-primary" asp-controller="Numbers" asp-action="Details" asp-route-id="@number.Id">@number.DidNumber @number.Description</a></h5>*@
					<h5><a class="btn btn-primary" asp-controller="Numbers" asp-action="Details" asp-route-information="@number.DidNumber" asp-route-id="@number.Id">@number.DidNumber @number.Description</a></h5>
				</div>
			</div>
		}
		
		@*
		@if (firstNumber != null)
		{
			<div class="carousel-item active bg-success text-white text-center border border-danger">
				<img src="@firstNumber.DidNumber" class="d-block w-100" alt="@firstNumber.DidNumber @firstNumber.Description $@firstNumber.MonthlyPrice (Monthly Price)">
				<div class="carousel-caption d-none d-md-block">
					<h5><a class="btn btn-primary" asp-controller="Numbers" asp-action="Details" asp-route-id="@firstNumber.Id">@firstNumber.DidNumber @firstNumber.Description</a></h5>
				</div>
			</div>
		}

		@if (secondNumber != null)
		{
			<div class="carousel-item bg-info text-white text-center border border-warning">
				<img src="@secondNumber.DidNumber" class="d-block w-100" alt="@secondNumber.DidNumber @secondNumber.Description $@secondNumber.MonthlyPrice (Monthly Price)">
				<div class="carousel-caption d-none d-md-block">
					<h5><a class="btn btn-primary" asp-controller="Numbers" asp-action="Details" asp-route-id="@secondNumber.Id">@secondNumber.DidNumber @secondNumber.Description</a></h5>
				</div>
			</div>
		}
		

		@if (thirdNumber != null)
		{
			<div class="carousel-item bg-success text-white text-center border border-warning">
				<img src="@thirdNumber.DidNumber" class="d-block w-100" alt="@thirdNumber.DidNumber @thirdNumber.Description $@thirdNumber.MonthlyPrice (Monthly Price)">
				<div class="carousel-caption d-none d-md-block">
					<h5><a class="btn btn-primary" asp-controller="Numbers" asp-action="Details" asp-route-id="@thirdNumber.Id">@thirdNumber.DidNumber @thirdNumber.Description</a></h5>
				</div>
			</div>
		}
		*@

	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<div class="mb-5"></div>

@if (userIsAdmin)
{
	<div class="row">
		<div class="col-12 text-center">
			<button class="btn btn-primary" id="statistics-button">Show Statistics</button>
		</div>
	</div>


	<div class="jumbotron d-none" id="statistics">
		<div class="row">
			<h2 class="col-md-4 text-center" id="total-numbers"></h2>
			<h2 class="col-md-4 text-center" id="total-users"></h2>
			<h2 class="col-md-4 text-center" id="total-numForApp"></h2>
		</div>
	</div>

@section Scripts{
	<script>
		$('#statistics-button').on('click', ev => {
			$.get('/api/statistics',
				(data) => {
					$('#total-numbers').text(data.totalNumbersApproved + " Approved Numbers");
					$('#total-users').text(data.totalUsers + " Users");
					$('#total-numForApp').text(data.totalNumbersNotApproved + " Numbers for Approval");

					$('#statistics').removeClass('d-none');
					$('#statistics-button').hide();
				});
		});
	</script>
}
}
@*
	<div class="row">
	<div class="col-12 text-center">
		<button class="btn btn-primary" id="statistics-button">Show Statistics</button>
	</div>
</div>


<div class="jumbotron d-none" id="statistics">
	<div class="row">
		<h2 class="col-md-4 text-center" id="total-numbers"></h2>
		<h2 class="col-md-4 text-center" id="total-users"></h2>
		<h2 class="col-md-4 text-center" id="total-cost"></h2>
	</div>
</div>

@section Scripts{
	<script>
		$('#statistics-button').on('click', ev => {
			$.get('/api/statistics',
				(data) => {
					$('#total-numbers').text(data.totalNumbers + " Numbers");
					$('#total-users').text(data.totalUsers + " Users");
					$('#total-cost').text(data.totalMonthlyCost + " Cost");

					$('#statistics').removeClass('d-none');
					$('#statistics-button').hide();
				});
		});
	</script>
}
*@